---
layout: layouts/base.njk
title: About Me
---

<h2>About Me</h2>

<p>My name is Sahil Malik. I was born on September 27, 1999, and currently live in Canada. I have a strong interest in web development, technology, and learning new skills.</p>

<p>I enjoy creating interactive websites and exploring different web technologies. In my free time, I like spending time in nature, working on my car, and improving my mechanical skills.</p>
