---
layout: layouts/simple.njk
title: Contact
---

<h2>Contact Me</h2>

<p>If you’d like to get in touch, feel free to reach out!</p>

<ul>
  <li>Email: <a href="mailto:sahil@example.com">sahil@example.com</a></li>
  <li>LinkedIn: <a href="https://www.linkedin.com/in/sahilmalik9" target="_blank">linkedin.com/in/sahilmalik9</a></li>
  <li>GitHub: <a href="https://github.com/sahilmalik9" target="_blank">github.com/sahilmalik9</a></li>
</ul>

<p>I look forward to hearing from you!</p>
